*,
*::before,
*::after {
  box-sizing: border-box;

}

body { 
  text-align: center;
}

html {
  background: url(https://raw.githubusercontent.com/deliss-btw/29chapterarchivesRU/main/bg.png) no-repeat center center;
  min-height: 100%;
  background-size: auto;
  background-color:#34182e;
}

autxt {
  font-family: Alegreya;
  color:white;
  font-size: 21px;
  position: fixed;
  top: 75px;
  right: 5px;
  left: 47%;
  width: 100%;
}

a {
  opacity: 0%;
}

a:hover {
  opacity: 100%;
}

.eden { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:120.5px;
  height:298.5px;
  left: 38%;
  bottom: 17.5%;
  transform: skewX(-2deg)
}
.kalpas { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:110.5px;
  height:274.5px;
  left: 30.5%;
  bottom: 44.8%;
  transform: skewX(-2deg)
}
.sakura { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:127.5px;
  height:317px;
  left: 22.9%;
  bottom: 23.6%;
  transform: skewX(-3deg)
}
.kosma { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:123.5px;
  height:290px;
  left: 20.5%;
  bottom: 58.6%;
  transform: skewX(-4deg)
}
.pardofelis { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:113.5px;
  height:274px;
  left: 11.2%;
  bottom: 34.2%;
  transform: skewX(-4.5deg)
}
.elysia { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:130.5px;
  height:330.5px;
  left: 46.5%;
  bottom: 38%;
}
.kevin { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:117.5px;
  height:300.5px;
  left: 54.8%;
  bottom: 54.5%;
}
.villv { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:117.5px;
  height:305.5px;
  left: 58.8%;
  bottom: 20%;
  transform: skewX(1deg)
}
.aponia { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:100.5px;
  height:252.5px;
  left: 40%;
  bottom: 62%;
  transform: skewX(-1deg)
}
.su { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:105px;
  height:257px;
  left: 67.5%;
  bottom: 49%;
  transform: skewX(2deg)
}
.mobius { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:105px;
  height:272px;
  left: 75.2%;
  bottom: 26%;
  transform: skewX(4deg)
}
.hua { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:110px;
  height:272px;
  left: 83.3%;
  bottom: 17%;
  transform: skewX(4.6deg)
}
.griseo { 
  position: absolute;
  background-color:rgba(255, 255, 255, 0.10000000149011612);
  width:117px;
  height:282px;
  left: 80.2%;
  bottom: 51.7%;
  transform: skewX(4.6deg)
}


@keyframes text-focus-in {

  0% {
  -webkit-filter: blur(12px);
  filter: blur(12px);
  opacity: 0;
  }

  100% {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
  }

}


h1 {
  font-family: Alegreya;
  color: white; 
  font-size: 64px;
  text-shadow: 0px 0px 35.8512px #ffffff
 }

.Buttons a {
  margin-left: 12px;
  margin-right: 13px;
}
.Icon { 
  position: fixed;
  top: 0px;
  left: 47%; 
  width: 100%; 
}

.square {
  position: relative;
  font-family: Alegreya;
  font-size: 30px;
  width: 1745px;
  height: 670px;
  margin: auto;
}

table {
  color: #412d30;
}

.ntable-wrapper {
  overflow-x: auto;
  margin-bottom: 1rem;
  word-break: normal!important;
}

.ntable th {
  background-color: rgba(31, 31, 31, 0.70);
  opacity: 100%;
  border: 2px solid #fff;
  color: #fff;
  padding: 7px 10px;
}
.ntable td {
  background-color: rgba(94, 94, 94, 0.40);
  vertical-align: top;
  padding: 5px;
  border-left: 2px solid #fff;
  border-top: 1px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.Clownfish {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: relative;
width: 140px;
height: 291.5px;

width: 120px;
height: 271.5px;
background: rgba(255, 255, 255, 0.1);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
